.yaps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.yap-title {
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.yap-title:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: rgba(255, 214, 187, 0.8); 
}

.yap-detail-container {
    width: 80%; 
    margin: 40px auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 15px; 
    border: 1px solid rgba(255, 255, 255, 0.18); 
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #333; 
    text-align: left; 
}

.yap-detail-title {
    margin-bottom: 20px;
    font-size: 24px; 
    color: #FF5108; 
}

.yap-detail-content {
    white-space: pre-wrap;
    font-family: 'Arial', sans-serif; 
    text-align: justify; 
}


button {
    padding: 10px 20px;
    margin-bottom: 20px; 
    background-color: #FF5108;
    color: white;
    border: none;
    border-radius: 25px !important; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #e62200;
    transform: scale(1.05); 
}
