.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.search-container {
    margin-top: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px 0 0 4px; 
    outline: none;
}

.search-button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0; 
}

.search-input:focus {
    border-color: #007bff;
}

.search-button:hover {
    background-color: #0056b3;
}




.yapStory {
    width: 60%; 
    height: 300px; 
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px; 
    padding: 20px; 
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    font-family: 'Times New Roman', Times, serif; 
    color: #333; 
    text-align: left; 
}

.yapStory-placeholder {
    color: #aaa; 
    font-style: italic; 
}
