.container {
    margin-top: 10px !important;
}

.show {
    margin-top: 10px !important;
}

.navbar.navbar-custom .navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar.navbar-yappad {
    background-color: #FF5108;
    color: white;
}

.brand-yappad {
    color: white !important;
    font-weight: bolder !important;
}

.navlink-yappad.nav-link {
    max-width: fit-content;
}

.navlink-yappad {
    border-radius: 50px;
    color: white !important;
    padding: 10px !important;
}

.navlink-yappad:hover {
    text-decoration: underline;
}

.navlink-yappad.active {
    border-radius: 50px;
    background-color: white;
    color: #FF5108 !important;
}

.button.navbar-toggler:hover {
    background-color: white !important;
}

.navbar-signed-in-as {
    color: white !important;
    margin-left: 40px;
    font-size: 10px;
}

.navbar-welcome-message {
    color: white !important;
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
}

.signed-in-container {
    display: flex;
    flex-direction: column;
}